@import 'style';
@import 'cards';
$mark_bg: #ffecec;
$mark_txt: #ed0000;
$loading_src: '../img/loading.gif';
footer { display: none; }
header {
	z-index: 1;
	@include user-select(none);
  cursor: default;
	width: 100%;
	height: $header_height;
	line-height: $header_height;
	background: #fff;
	border-bottom: 1px solid #efefef;
	position: fixed;
	a { -webkit-touch-callout: none; }
	>div {
		padding: 0 15px 0 5px;
		display: inline;
    a:not(.sans) {
      font-size: 12px;
    }
		>a.mini { display: none; }
		h1 {
			text-align: left;
			display: inline;
			font-size: 1.2em;
		}
		span#subtitle {
      color: #888;
			padding-left: 5px;
			font-size: smaller;
			font-style: italic;
		}
    .sans {
      font-size: 14px;
    }
		span#right-header {
      font-size: 12px;
			float: right;
			padding-right: 10px;
		}
		span#article_title {
			font-style: italic;
		}
		form { display: inline; }
		>form input {
			padding: 6px 12px;
			line-height: 1.5;
			@include border-radius(2px);
			border-bottom: 1px solid $grey;
			margin: 0 auto;
			height: 20px;
			width: 30%;
		}

	}
	input[type='text'].top_loading {
		background: url($loading_src) no-repeat;
		background-position: 98% 50%;
		background-size: 20px 20px;
	}
}
header#sub {
	height: $subheader_height;
	line-height: $subheader_height;
	overflow: auto;
	white-space: nowrap;
	overflow-y: hidden;
	position: fixed;
	top: $header_height + 1;
	min-width: 100%;
	text-align: center;
	font-size: 12px;
	font-style: italic;
  border-bottom: 1px dashed #efefef;
  color: #888;
}

main {
	padding: 4em 1em;
	input.loading {
		background: url($loading_src) no-repeat;
		background-size: 20px 20px;
		padding: 10px 10px 10px 36px;
		background-position: 10% 50%;
	}
	>form { 
		margin-bottom: 10px; 
		text-align: center;
		input[type="text"] {
			margin-bottom: 10px;
			width: 275px;
			border-bottom: 1px solid $grey;
		}

	}
	
	div.featured_keywords {
		display: table;
		padding-bottom: 1em;
		margin: 0 auto;
		dl.left {
			float: left;	
			width: 50%;
		}
		dl.right {
			float: right;
			width: 50%;
		}
		// controversial or trending keywords
		dt {
			float: left;
			width: 7.5em;
			padding: 1ex .5em 0 .5em;
			text-align: right;
			font-weight: bold;
		}

		// featured keywords
		dd {
			span { white-space: nowrap; }
			margin: 0 0 0 8.5em;
			padding: 1ex 0.5em;
			text-align: left;
			border-left: 1px solid #888;
		}
	}

	ul.details {
		@include column-break-inside(avoid);
		list-style: none;
		margin: 0 0 10px 0;
		padding: 0;
		li {
			display: inline;
			>span {
				line-height: 30px;
				@include border-radius(2px);
				border: 1px solid $grey;
				padding: 2px;
			}
		}
	}

	article {
		text-align: justify;
		line-height: 150%;
		%def { 
			border-bottom: none;
			color: #fff;
			background-color: #d53f3f;
		}
		a { 
			@extend %def;
			text-decoration: none;
			font-weight: 700; // controversial sentences
			&:hover, &:active {
				background-color: #bf3636;
				@extend %def;
			}
		}
	}

	// NYT copyright
  article + p {
    @include transition(.3s);
    img {
      width: 20px;
      vertical-align: bottom;
    }
    opacity: 0.6;
  } 	article+p:hover { opacity: 1.0; }

	mark {
		line-height: 25px;
		color: $mark_txt;
		background: $mark_bg;
		@include border-radius(2px);
		padding: 2px;
	}
	.disabled {
		cursor: not-allowed;
		background-color: #f9f9f9;
		&:active {
			color: #fff; 
			background-color: $warn;
		}
	}
}
span.danger {
	color: #fff;
	background-color: #d43f3a;
	padding: 2px;
	@include border-radius(2px);
}
figcaption { margin:10px 0 10px 0; }
@media (max-width: 700px) {
	header#sub {
		font-size: 10px;
		top: $mobile_header_height + 1;
	}
	header {
		height: $mobile_header_height;
		line-height: $mobile_header_height;
		h1 {
			font-size: .7em;
		}
	}
}
@media (max-width: 620px) {
	main div.featured_keywords {
		dt { writing-mode: vertical-rl; }
	}
}
@media (max-width: 520px) {
	main div.featured_keywords {
		dl.left, dl.right { float: none; }
	}	
	span.danger { display: block; }
	input[type='text'].top_loading { height: 40px; }
}
@media (max-width: 415px) {
	header>div {
		>a.mini { display: inline; }
		>a.lg { display: none; }
	}
}
