@import 'style';
@import 'alert';
html {
  border-top: 3px solid #ed0000;
}
body {
  line-height: 1.4;
}
div#login {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1px 5px 20px 5px;
  text-align: center;
  box-shadow: 0 1px 5px 3px #eee;
  width: 450px;
  margin: 3em auto 0 auto;
  form {
    margin-top: 10px;
  }
  center {
    margin-top: 1em;
  }
  div.g-recaptcha {
    display: table;
    margin: 0 auto;
  }
  h1 {
    font-weight: 400 !important;
    text-transform: none;
    margin: 20px 0 5px 0;
    b {
      text-transform: uppercase;
    }
  }
  input.field {
    color: #000;
    transition: border .15s ease-in-out;
    &:focus, &:active {
      border-color: #666;
    }
  }
  div.warning_box {
    background: #ffd2da;
    padding: 3px;
  }
}
@media (max-width: 520px)  {
  div#login {
    input[type="submit"] {
      height: 35px;
    }
    width: 350px;
  }
  footer, div#login {
    font-size: smaller;
  }
  footer {
    tt {
      font-size: 12px;
    }
  }
}
@media (max-width: 390px) {
  div#login {
    width: 320px;
    margin-top: 2em;
  }
}
@media (max-width: 320px) {
  div#login {
    width: 290px;
    margin: 1em auto;
  }
  html, body {
    margin: 0;
  }
}
