@import 'bootstrap.min.css';
body {
	font-family: 'Verdana', sans-serif;
	border-top: 10px solid #d9d9d9;
	padding-top: 10px;
}
blockquote {
	font-size: 16px;
}
blockquote.good {
	background-color: #dff0d8;
	border-left: 5px solid #3c763d;
}
blockquote.bad {
	background-color: #f2dede;
	border-left: 5px solid #a94442;
}
.col-md-3 {
	color: #ddd;
	background-color: rgba(245, 245, 245, .3);
}
div#full_article {
	font-size: 16px;
	span {
		cursor: pointer;
	}
	span.controversial {
		color: #bada55;
		background-color: #800;
	}
}
#copyright {
	margin-bottom: 14em;
}
.btn {
	font-weight: 700;
}
#full_article {
	text-align: justify;
}
#bot_bar {
	.col-md-12 {
		.pull-left {
      padding: 8px;
      input[type='text'] {
        width: 200px;
        font-size: 11px;
        height: 30px;
        vertical-align: middle; 
      }
    }
		padding: 8px;
		background-color: #eee;
		margin-top: 8px;
		text-align: right;
		height: 61px; }
	position: fixed;
	z-index: 1;
	bottom: 0;
}
#error {
  display: none;
}
span.q:before {
  content: '\2018';
}
span.q:after {
  content: '\2019';
}
@media (max-height: 400px) {
	#bot_bar { position: relative; }
}	
@media (min-width: 1200px) {
	#bot_bar { width: 1170px; }
}
@media (min-width: 992px) {
	#bot_bar { width: 970; }
}
@media (min-width: 768px) {
	#bot_bar { width: 750; }
}
