{% extends 'base.html' %}
{% block content %}
<header>
	<div>
    <span><a href='../'>&larr; back</a></span>
		<span id='right-header'>
			{% if user.Id == anon_uname %}
      <b class='sans'>About</b>
      &nbsp; &middot; &nbsp;
			<a href='/register_anon'>register &rarr;</a>
			{% else %}
      <b class='sans'>Account</b>
      &nbsp; &middot; &nbsp;
			<a href='/logout'>logout &rarr;</a>
			{% endif %}
		</span>
	</div>
</header>
<main>


<h2>Query history</h2>
{% if user['Id'] == anon_uname  %}
<i>Anonymous users do not have query histories.</i>
{% else %}
<ul>
	{% if history|length %}
	{{ user['Name']|first_name }}, you searched for &hellip;
	{% for query in history %}
	<li>
	{% with %}
	{% set pd = query['Performed']|pretty_date %}
  <span class='q'><b class='sans'>{{ query['Term'] }}</b></span> {{ pd[0] }} <small>(on {{ pd[1] }})</small>
	{% endwith %}
	</li>
	{% endfor %}
	<p>
	<i>&hellip; and that's all we know</i><br>
	however, we forget things, especially when you <a href='account/forget'>clear your history</a>.
	</p>
	{% else %}
	&hellip; nothing yet. May we interest you in <a href='../'>a try</a>?
	{% endif %}
</ul>
{% endif %}


<h2>This account</h2>
<p>This account is used by <b>{{ user['Name'] }}</b> who goes by <b>{{ user['Id'] }}</b> and is ostensibly associated with <b>{{ user['School'] }}</b>.</p>
{% if user['Id'] != anon_uname %}
<p>You&rsquo;re welcome to close your account. We&rsquo;ll delete anything associated with you. This doesn&rsquo;t include contributions to trending queries, since those are anonymous.</p>
<span>
	<form method='POST' action="{{ url_for('account') }}">
		{{ form.csrf_token() }}
		{{ form.email.label }} {{ form.email(value=user.Id) }}
		{{ form.password.label }} {{ form.password(placeholder="confirm your password") }}
    <input type='submit' class='small' value='close account &rarr;' />
  </form>
</span>
{% if form.errors %}
<div id='_error' class='sans login_alert'>
  {% for field in form.errors %}			
	{% for error in form.errors[field] %}
  <div class='title'>{{ field }}</div>
  <div class='body'>{{ error|lower }}</div>
	{% endfor %} 
	{% endfor %}
  {% if subj is not defined %}
  <div class='close'>
    <span onclick='dismiss_error()'>
      &times;
    </span>
  </div>
  {% endif %}
</div>
<script>
function dismiss_error() {
  document.getElementById('_error').style.display = 'none';
}
</script>
{% endif %}
{% else %}
<!-- the anonymous account cannot be closed -->
{% endif %}


<h2 name='bugs' id='bugs'>About / Bugs</h2>

<p>This is <span class='logo'>CONTROVERSY</span>, available <a target='_blank' href='http://framagit.org/gdyer/CONTROVERSY'>on Framagit</a>.</p>

<p>We&rsquo;ve set up an annotation system for people to select pieces of news articles they believe to be controversial: <a href='../training'>training</a>.</p>

<p>We encrypt passwords with a one-way hash. As of fall 2015, we force SSL as you browse the project.</p>

<p>We&rsquo;d like to thank the NSF and NIH for <a target='_blank' href='https://www.nsf.gov/awardsearch/showAward?AWD_ID=1027965'>supporting</a> this work.</p>

<div>
	<p>Found a bug? <a target='_blank' href='https://issues.2pitau.org/controversy'>Please file a report</a> (anonymously).</p>
	<ul ng-controller='IssuesController' class='issues_list'>
		Known problems &hellip;
		{% raw %}
		<b style='color:#4cae4c' ng-show='(numopen == 0) && issues_loaded'>none &#10003;</b>
    <span ng-show='(numopen !== 0) && issues_loaded'><b style='color:#edb43a' >&nbsp; {{ numopen }}</b> &nbsp; <a class='btn' href='https://issues.2pitau.org/controversy'>more information &rarr;</a></span>
		{% endraw %}
	</ul>
</div>
</main>
{% endblock %}
