<!doctype html>
{% if angular is defined %}
<html ng-app='{{ angular }}' lang='en'>
{% else %}
<html lang='en-GB'>
{% endif %}
<title>
	{% if title is defined %}
	{{ title }} &mdash;
	{% endif %}
	CONTROVERSY Project &mdash;
  University of Illinois, Urbana&ndash;Champaign</title>
<meta name='description' content='Hotspots of news articles: joint mining of news text and social media to discover controversial points in news.' />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />


<link href='//www.cdn.2pitau.org/css/Nunito.css' rel='stylesheet' />
<link href='//www.cdn.2pitau.org/css/Libre_Baskerville.css' rel='stylesheet' />
<link rel='icon' href='{{ url_for("static", filename="img/fav.png") }}' />
<link rel='stylesheet' href='{{ css }}' />
{% block content %}{% endblock %}

<footer>
	<p>
  <em><a href='{{ url_for("static", filename="pdf/big-data-2015.pdf") }}' target='_blank'>Hotspots of News Articles: Joint Mining of News Text &amp; Social Media to Discover Controversial Points in News</a></em>
	<br>
	Ismini Lourentzou, Graham Dyer, Abhishek Sharma, ChengXiang Zhai &mdash; <code>{lourent2, gdyer2, sharma51, czhai}@illinois.edu</code> &mdash; University of Illinois, Urbana&ndash;Champaign.
	<br>
	<span class='logo'>CONTROVERSY</span> is a <a class='collective_logo' href='https://2pitau.org' target='_blank'>2&pi;&tau;</a> project.
	</p>
</footer>

{% if angular is defined %}
<script src='{{ url_for("static", filename="lib/js/angular.min.js") }}'></script>
<script src='{{ url_for("static", filename="lib/js/angular-locale_en-gb.js") }}'></script>
<script src='{{ url_for("static", filename="lib/js/angular-route.min.js") }}'></script>
<script src='{{ url_for("static", filename="lib/js/angular-sanitize.min.js") }}'></script>
<script src='{{ url_for("static", filename="lib/js/angular-animate.js") }}'></script>
<script src='{{ url_for("static", filename="lib/js/loading-bar.min.js") }}'></script>
{% endif %}
{% if js is defined %}
<script src='{{ js }}'></script>
{% endif %}
</html>
