{% extends 'highlighting_base.html' %}
{% block content %}
<div class='row'>
	<div class='col-md-12'>
		<p>(<b class=text-danger>!</b>) See <a href='dataset'>here</a> if you're a researcher interested in these data.</p>
	</div>
	<div class='col-md-12'>
		<p class='lead'>Each task involves reading an article from <i>The New York Times</i>. You must be fluent in English to participate.</p>
		<p class='lead'>While reading on the next page, click any sentences which you believe to be controversial, i.e., expressing an opinion or strongly qualified fact (e.g., <span class='q'>terrible performance</span>) that you believe could be debated. Use your knowledge of current events and history while determining whether a sentence is controversial. We hope, like Kant&rsquo;s aesthetic judgements, your judgements of controversy will be subjective yet universal. When done, click <b><span class='q'>Submit</span></b>. You have unlimited time to read, however there is a minimum time shown at the bottom that is determined by the length of the article. You may not submit before this time or with no or too many highlights. We recognise not every article will have sentences most deem controversial; we&rsquo;ve attempted to eliminate such articles. Examples are below.</p>
		<blockquote class='good'>
			<p>Across Russia, companies are <i>being forced</i> to prioritize patriotism over profits.</p>
		</blockquote>
    <p>This sentence is controversial because it expresses an obviously value-laden judgement that&rsquo;s couched as an objective truth, implying strongly that <span class='q'>patriotism</span> should be subordinate to <span class='q'>profits</span>. It implies that governments should have minimal intervention in corporate affairs, which is far from a law of nature. The choice of words puts readers on the side of the ostensibly victimised corporation. This is ideologically revealing, considering the company in question (Aeroflot) is majority owned by the Russian government: is it not a capitalist principle that shareholders dictate policy?&mdash;much to the detriment of working conditions, access to healthcare/food/housing/&hellip;.</p>
		<p>Other examples of controversial sentences:</p>
		<blockquote class='good'>
      <p>The airline has had <b>countless</b> safety problems in the past. <i>[Surely, they <i>can</i> be counted!]</i></p>
      <p>Worried about unemployment and political <b>unrest</b>, the government pushed back when Avtovaz, the maker of Lada cars, <b>moved quickly to cut</b> workers as the economy slowed.</p>
      <p>In 1994, a pilot <b>let</b> his <b>16-year-old son</b> fly an Airbus that <b>promptly</b> crashed, killing <b>all</b> 75 aboard.</p>
		</blockquote>
		<p>The following non-controversial sentence just states numbers (which is certainly not to say that &lsquo;just&rsquo; stating numbers/facts is &lsquo;non-ideological&rsquo;):</p>
		<blockquote class='bad'>
			<p><strike>During a demonstration flight in 2012, the plane crashed into a mountain in Indonesia with 37 aviation executives and journalists and eight crew members aboard.</strike></p>
		</blockquote>
	</div>
	<div class='col-md-8'>
		<p>Complete the CAPTCHA. Once done, click <b><span class='q'>Next</span></b>.</p>
		<form method=POST>
			<div class='form-group'>
				{{ form.hidden_tag() }}
				{{ form.recaptcha }}
			</div>
			<button type='submit' class='btn btn-lg btn-default' id='btn-next'>Next</button>
		</form>
		<br>
	</div>
	<div class='col-md-4'>
		<p>Problems preventing submission are unlikely. Should they nevertheless occur, email us your browser info: <b><code>postmaster@2pitau.org</code></b>. Please contact this address, too, if these webpages could be made more accessible.</p>
		<br>
	</div>
</div>
{% endblock %}
