{% extends 'highlighting_base.html' %}
{% block content %}
<div class='row'>
	<div class='col-md-4'>
		<p class='lead'><b>HITS completed</b></p>
	</div>
	<div class='col-md-8'>
		<p>All articles in our training set have been annotated. Thank you for your interest. <a href='https://framagit.org/gdyer/CONTROVERSY'>Learn more about this project</a>.</p>
	</div>
</div>
{% endblock %}
