{% extends 'highlighting_base.html' %}
{% block content %}
<!-- ``being_read``: {{ article.being_read }} -->
<!-- ``n_reads``: {{ article.n_reads }} -->
<div class='row'>
	<div class='col-md-9'>
		<p class='lead'>Please click any sentences which you believe are controversial (as per our definition on the previous page). When done, click <b><span class='q'>Submit</span></b>.</p>
	</div>
	<div class='col-md-3'>
		<i>{{ article.title }}</i> <b>&middot;</b> {{ article.byline }} <b>&middot;</b> {{ article.published }} <b>&middot;</b> <span class='q'>{{ article.keyword }}</span> corpus.
	</div>
	<div class='col-md-12'>
		<hr>
	</div>
	<div class='col-md-12'>
		<div id='full_article'>
			{% for paragraph in paras %}
			{% set _loop = loop %}
			<p>
			{% for sentence in paragraph %}
			<span onclick='toggleControversial({{ sentence_lookup(sentence) }}, this)'>{{ sentence }}</span>
			{% endfor %}
			</p>
			{% endfor %}
		</div>
	</div>
	<div class='col-md-6'>
		<div class='alert' id='time_left' role='alert'>
			<span></span>
		</div>
		<div class='alert alert-warning' id='error' role='alert'>
		</div>
	</div>
	<div class='col-md-6' id='copyright'>
    <p class='text-muted'>If you supply your name or some moniker (perhaps one that&rsquo;s not <i>too</i> obscene), we&rsquo;ll thank you in any publications that use the labour you&rsquo;ve performed here.</p>
		<p class='text-muted'>Study from the University of Illinois at Urbana&ndash;Champaign. Articles &copy; The New York Times Company <img width='17px' src='{{ url_for("static", filename="img/NYT.svg") }}' />. All rights reserved.</p>
	</div>
	<div class='row' id='bot_bar'>
		<div class='col-md-12'>
			<div class='pull-left'>
				<img src='{{ url_for("static", filename="img/small-loading.gif") }}' style='display: none' />
        <input autocomplete='words' id='name' name='name' placeholder='name for recognition (optional)' type='text' />
      </div>
			<input type='button' class='btn btn-lg disabled' id='submit' value='Submit' />
		</div>
	</div>
</div>
<script type='text/javascript' src='{{ url_for("static", filename="highlighting/jquery.min.js") }}'></script>
<script type='text/javascript'>
	<!-- Please don't you modify these variables via a console. -->
	var controversial = [];
	var minimum_time = {{ minimum_time }};
	var n_sentences = {{ n_sentences }};
</script>
<script type='text/javascript' src='{{ js }}'></script>
{% endblock %}
