<!doctype html>
<html lang='en-GB'>
	<head>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='icon' href='{{ url_for("static", filename="img/fav.png") }}' />
		<link rel='stylesheet' href='{{ css }}' type='text/css' />
		<title>training &mdash; CONTROVERSY</title>
	</head>
	<body>
		<div class='container'>
			{% block content %}
			{% endblock %}
		</div>
			
	</body>
</html>
