{% extends 'highlighting_base.html' %}
{% block content %}
<div class='row'>
	<div class='col-md-12'>
    <p><b>Dataset</b>. We will not employ microtask workers to annotate our training articles for <a href='https://www.jacobinmag.com/2017/12/middle-east-digital-labor-microwork-gaza-refugees-amazon'>labour-rights</a> <a href='https://www.jacobinmag.com/2015/08/amazon-google-facebook-privacy-bezos'>reasons</a> and personal niggardliness. A small subset of the articles has been annotated by volunteers.</p>
    <p>The data are compiled dynamically and will update with new annotations as we receive them.</p>
		<p style='line-height: 275%'>
      <b>download &hellip;</b>
      <a class='btn btn-success' type='submit' href='dataset/annotated'>annotated only (json)</a>
      <a class='btn btn-danger' type='submit' href='dataset/all'>annotated &amp; unannotated (json)</a>
		</p>
    <p>
    <b>Meaning of the file:</b>
    you will find those sentences judged by readers to be controversial in the <code>highlights</code> array of each article. Each entry in the array is one person's reading of the article. Within each reading, there is another array that lists the indices of the sentences of the article that were judged controversial. Please use <a href='https://framagit.org/gdyer/CONTROVERSY/blob/master/controversy/highlighting.py#L74'>our tokeniser</a> to separate the <code>full</code> article into sentences so that these indices are meaningful (we do some unusual things).
    </p>
		<p>Articles are &copy; The New York Times Company. Assume all rights reserved or, for content produce by our research team, CC BY-NC-SA 4.0 (see <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>here</a> for details).</p>
	</div>
</div>
{% endblock %}
