{% extends 'base.html' %}
{% block content %}
{% if form.errors %}
<div id='_error' class='sans login_alert'>
  {% for field in form.errors %}			
	{% for error in form.errors[field] %}
  <div class='title'>{{ field }}</div>
  <div class='body'>{{ error|lower }}</div>
	{% endfor %} 
	{% endfor %}
  {% if subj is not defined %}
  <div class='close ns'>
    <span onclick='dismiss_error()'>
      &times;
    </span>
  </div>
  {% endif %}
</div>
<script>
function dismiss_error() {
  document.getElementById('_error').style.display = 'none';
}
</script>
{% endif %}



{% with messages = get_flashed_messages() %}
{% if messages %}
<div id='message' onclick='this.style.display="none";'>
    {% for message in messages %}
    {{ message|safe }}
    {% if not loop.last %}
    &middot;
    {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<div id='login'>
  <img class='ns' src='{{ url_for("static", filename="img/sm-graphic-rec.png") }}' />
  <hr>
    <span id='details'>
      <span class='logo'>CONTROVERSY</span> seeks to build computational techniques to evaluate the controversy of news articles.
      <a href='{{ url_for("/training.index") }}'>Annotate articles</a> to help us build a dataset for future study!
      <center>
        <a target='_blank' href='https://framagit.org/gdyer/CONTROVERSY'>sourcecode</a>
        &nbsp;&middot;&nbsp;
        <a href='{{ url_for("register") }}'>register an account</a>
        &nbsp;&middot;&nbsp;
        <a target='_blank' href='https://issues.2pitau.org/controversy'>file an issue</a>
      </center>
	    <hr>
    </span>
    <noscript><div class='warning_box'><span class='logo'>CONTROVERSY</span> requires JavaScript. We&rsquo;re not doing anything fishy: the project is free software, and you may view the source files here: <a href='https://framagit.org/gdyer/CONTROVERSY' target='_blank'>framagit.org</a></div></noscript>
    <form method='POST'>
        {{ form.hidden_tag() }}
        {{ form.email(value=username, type='email', class_='field', placeholder='email (username)', required='required') }}
        {{ form.password(class='field', placeholder='password', required='required') }}
	<center>
        	<input type='submit' value='log in' />
	</center>
	<center>
    <b>Or &hellip;&nbsp;</b><i><a id='anon_login' href='{{ url_for("bourbaki") }}'>I don&rsquo;t want an account; take me to the action already &rarr;</a></i>
	</center>
    </form>
</div>
{% endblock %}
