{% extends 'base.html' %}
{% block content %}

{% if form.errors %}
{% if form.errors|length == 1 %}
<div id='_error' class='sans login_alert'>
  {% for field in form.errors %}			
	{% for error in form.errors[field] %}
  <div class='title'>{{ field }}</div>
  <div class='body'>{{ error|lower }}</div>
	{% endfor %} 
	{% endfor %}
  <div class='close ns'>
    <span onclick='dismiss_error()'>
      &times;
    </span>
  </div>
</div>
<script>
function dismiss_error() {
  document.getElementById('_error').style.display = 'none';
}
</script>
{% endif %}
{% endif %}


<div id='login'>
  <img class='ns' src='{{ url_for('static', filename='img/sm-graphic-rec.png') }}' />
  <hr>
	<span id='details'>
		Your information is for our reference only and will never be shared with a 3<sup>rd</sup> party. You can also <a href='bourbaki'>use the demo anonymously</a> if you like.
	</span>
  <hr>
	<p>We encourage you to use a simple password, like a phrase; we used an <code>md5</code> hash, which has known vulnerabilities.</p>
	{% if logged_in == true %}
	<div class='warning_box'>You&rsquo;re already <a href='/'>logged in</a>, but feel free to create another account.</div>
	{% endif %}
	<form method='POST'>
		{{ form.hidden_tag() }}
		{{ form.name(class_='field', autocomplete='words', placeholder='name', required='required') }}
		{{ form.email(class_='field', type='email', placeholder='email (username)', required='required') }}
		{{ form.password(class_='field', placeholder='simple password', required='required') }}
		{{ form.school(class_='field', placeholder='institution', required='required') }}
		<!-- uncomment for recaptcha validation: \{\{ form.recaptcha \}\} -->
		<br>
		<br>
		<input type='submit' value='register' />
	</form>
	<center>
		<b>Or &hellip;&nbsp;</b><i><a href='./login'>login with your existing account &rarr;</a></i>
	</center>
</div>
{% endblock %}
